In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
months = ['Gener', 'Febrer', 'Marc', 'Abril', 'Maig', 'Juny'] #'Juliol', 'Agost', 'Setembre', 'Octubre', 'Novembre', 'Desembre']
indeces = ['01', '02', '03', '04', '05', '06'] # '07', '08', '09', '10', '11', '12']
years = ['2021'] #['2020', '2021', '2022', '2023']

## OJO ##
# EN 2021 Y 2022 EL DOCUMENTO SE LLAMA MARÃ‡ EN VEZ DE MARC, HAY QUE CAMBIARLO A MARC PARA QUE FUNCIONE

data = pd.DataFrame()
for year in years:
    for index, month in zip(indeces, months):
        month_year = pd.read_csv('../raw_data/{}_{}_{}_BicingNou_ESTACIONS.csv'.format(year, index, month))
        data = pd.concat([data, month_year])

In [4]:
data['last_updated'] = pd.to_datetime(data['last_updated'], unit='s')
data['last_reported'] = pd.to_datetime(data['last_reported'], unit='s')

In [5]:
data[data['station_id']==4].head(30)

# last reported entenc que Ã©s quan hi ha canvis de bicicletes que entren o surten
# last updated Ã©s sempre cada 5 min, quan s'envia la info.

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl
3,4,15,14,1,6,2020-12-31 22:57:38,True,IN_SERVICE,1,1,1,2020-12-31 23:00:26,22
508,4,15,14,1,6,2020-12-31 23:02:05,True,IN_SERVICE,1,1,1,2020-12-31 23:05:32,29
1013,4,15,14,1,6,2020-12-31 23:06:28,True,IN_SERVICE,1,1,1,2020-12-31 23:10:05,2
1518,4,15,14,1,6,2020-12-31 23:15:13,True,IN_SERVICE,1,1,1,2020-12-31 23:15:34,30
2023,4,15,14,1,6,2020-12-31 23:19:42,True,IN_SERVICE,1,1,1,2020-12-31 23:20:31,27
2528,4,15,14,1,6,2020-12-31 23:24:01,True,IN_SERVICE,1,1,1,2020-12-31 23:25:34,30
3033,4,15,14,1,6,2020-12-31 23:28:27,True,IN_SERVICE,1,1,1,2020-12-31 23:30:27,23
3538,4,15,14,1,6,2020-12-31 23:32:49,True,IN_SERVICE,1,1,1,2020-12-31 23:35:30,27
4043,4,15,14,1,6,2020-12-31 23:37:15,True,IN_SERVICE,1,1,1,2020-12-31 23:40:32,29
4548,4,15,14,1,6,2020-12-31 23:41:38,True,IN_SERVICE,1,1,1,2020-12-31 23:45:14,10
5053,4,15,15,0,6,2020-12-31 23:50:26,True,IN_SERVICE,1,1,1,2020-12-31 23:50:34,30
5558,4,13,13,0,8,2020-12-31 23:54:47,True,IN_SERVICE,1,1,1,2020-12-31 23:55:17,13
6063,4,13,13,0,8,2020-12-31 23:59:14,True,IN_SERVICE,1,1,1,2021-01-01 00:00:33,29
6568,4,12,12,0,9,2021-01-01 00:03:42,True,IN_SERVICE,1,1,1,2021-01-01 00:05:21,18
7073,4,12,12,0,9,2021-01-01 00:08:02,True,IN_SERVICE,1,1,1,2021-01-01 00:10:10,6
7578,4,12,12,0,9,2021-01-01 00:12:26,True,IN_SERVICE,1,1,1,2021-01-01 00:15:31,28
8083,4,12,12,0,9,2021-01-01 00:16:50,True,IN_SERVICE,1,1,1,2021-01-01 00:20:04,1
8588,4,12,12,0,9,2021-01-01 00:21:18,True,IN_SERVICE,1,1,1,2021-01-01 00:25:29,26
9093,4,12,12,0,9,2021-01-01 00:30:05,True,IN_SERVICE,1,1,1,2021-01-01 00:30:34,30
9598,4,12,12,0,9,2021-01-01 00:34:29,True,IN_SERVICE,1,1,1,2021-01-01 00:35:13,10
10103,4,12,12,0,9,2021-01-01 00:38:55,True,IN_SERVICE,1,1,1,2021-01-01 00:40:30,27
10608,4,12,12,0,9,2021-01-01 00:43:22,True,IN_SERVICE,1,1,1,2021-01-01 00:45:32,28
11113,4,12,12,0,9,2021-01-01 00:47:49,True,IN_SERVICE,1,1,1,2021-01-01 00:50:34,30
11618,4,12,12,0,9,2021-01-01 00:52:16,True,IN_SERVICE,1,1,1,2021-01-01 00:55:26,22
12123,4,13,13,0,8,2021-01-01 00:56:41,True,IN_SERVICE,1,1,1,2021-01-01 01:00:34,30
12628,4,13,13,0,8,2021-01-01 01:01:08,True,IN_SERVICE,1,1,1,2021-01-01 01:05:15,12
13133,4,14,13,1,7,2021-01-01 01:09:58,True,IN_SERVICE,1,1,1,2021-01-01 01:10:28,24
13638,4,14,13,1,7,2021-01-01 01:14:25,True,IN_SERVICE,1,1,1,2021-01-01 01:15:32,28
14143,4,14,13,1,7,2021-01-01 01:18:53,True,IN_SERVICE,1,1,1,2021-01-01 01:20:33,30
14648,4,14,13,1,7,2021-01-01 01:23:18,True,IN_SERVICE,1,1,1,2021-01-01 01:25:04,1

In [6]:
data.columns

Index(['station_id', 'num_bikes_available',
       'num_bikes_available_types.mechanical',
       'num_bikes_available_types.ebike', 'num_docks_available',
       'last_reported', 'is_charging_station', 'status', 'is_installed',
       'is_renting', 'is_returning', 'last_updated', 'ttl'],
      dtype='object')

In [7]:
data['last_updated'] = pd.to_datetime(data['last_updated'], unit='s')
data['last_reported'] = pd.to_datetime(data['last_reported'], unit='s')

In [8]:
data.head()

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,last_updated,ttl
0,1,43,43,0,3,2020-12-31 22:56:46,True,IN_SERVICE,1,1,1,2020-12-31 23:00:26,22
1,2,17,15,2,10,2020-12-31 22:57:51,True,IN_SERVICE,1,1,1,2020-12-31 23:00:26,22
2,3,3,3,0,22,2020-12-31 22:56:48,True,IN_SERVICE,1,1,1,2020-12-31 23:00:26,22
3,4,15,14,1,6,2020-12-31 22:57:38,True,IN_SERVICE,1,1,1,2020-12-31 23:00:26,22
4,5,8,8,0,31,2020-12-31 22:57:21,True,IN_SERVICE,1,1,1,2020-12-31 23:00:26,22

In [7]:
data['year'] = data['last_updated'].dt.year
data['month'] = data['last_updated'].dt.month
data['day'] = data['last_updated'].dt.day
data['hour'] = data['last_updated'].dt.hour

data.drop(columns=['last_updated'], inplace=True)

data.head()

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,ttl,year,month,day,hour
0,1,43,43,0,3,2020-12-31 22:56:46,True,IN_SERVICE,1,1,1,22,2020,12,31,23
1,2,17,15,2,10,2020-12-31 22:57:51,True,IN_SERVICE,1,1,1,22,2020,12,31,23
2,3,3,3,0,22,2020-12-31 22:56:48,True,IN_SERVICE,1,1,1,22,2020,12,31,23
3,4,15,14,1,6,2020-12-31 22:57:38,True,IN_SERVICE,1,1,1,22,2020,12,31,23
4,5,8,8,0,31,2020-12-31 22:57:21,True,IN_SERVICE,1,1,1,22,2020,12,31,23

In [16]:
data.columns

Index(['station_id', 'num_bikes_available',
       'num_bikes_available_types.mechanical',
       'num_bikes_available_types.ebike', 'num_docks_available',
       'last_reported', 'is_charging_station', 'status', 'is_installed',
       'is_renting', 'is_returning', 'ttl', 'percentage_available', 'year',
       'month', 'day', 'hour'],
      dtype='object')

In [8]:
data['percentage_available'] = data['num_bikes_available'] / (data['num_bikes_available'] + data['num_docks_available'])
output_data = data[['station_id', 'year','month', 'day', 'hour', 'percentage_available']].copy()
output_data.reset_index(drop=False, inplace=True)
output_data.rename(columns={'index': 'index'}, inplace=True)

    index  station_id  year  month  day  hour  percentage_available
0       0           1  2020     12   31    23              0.934783
1       1           2  2020     12   31    23              0.629630
2       2           3  2020     12   31    23              0.120000
3       3           4  2020     12   31    23              0.714286
4       4           5  2020     12   31    23              0.205128
5       5           6  2020     12   31    23              0.351351
6       6           7  2020     12   31    23              0.461538
7       7           8  2020     12   31    23              0.592593
8       8           9  2020     12   31    23              0.440000
9       9          10  2020     12   31    23              0.452381
10     10          11  2020     12   31    23              0.428571
11     11          12  2020     12   31    23              0.000000
12     12          13  2020     12   31    23              0.740741
13     13          14  2020     12   31    23              0.777778
14     14          15  2020     12   31    23              0.925926
15     15          17  2020     12   31    23              0.500000
16     16          18  2020     12   31    23              0.407407
17     17          19  2020     12   31    23              0.172414
18     18          20  2020     12   31    23              0.583333
19     19          21  2020     12   31    23              0.222222
20     20          22  2020     12   31    23              0.315789
21     21          23  2020     12   31    23              0.346154
22     22          24  2020     12   31    23              0.392857
23     23          25  2020     12   31    23              0.619048
24     24          26  2020     12   31    23              0.444444
25     25          27  2020     12   31    23              0.500000
26     26          28  2020     12   31    23              0.090909
27     27          29  2020     12   31    23              0.666667
28     28          30  2020     12   31    23              0.620690
29     29          31  2020     12   31    23              0.937500
30     30          32  2020     12   31    23              0.533333
31     31          33  2020     12   31    23              0.285714
32     32          34  2020     12   31    23              0.700000
33     33          35  2020     12   31    23              0.904762
34     34          36  2020     12   31    23              0.526316
35     35          37  2020     12   31    23              0.541667
36     36          39  2020     12   31    23              0.880952
37     37          40  2020     12   31    23              0.277778
38     38          41  2020     12   31    23              0.652174
39     39          42  2020     12   31    23              0.368421
40     40          43  2020     12   31    23              0.434783
41     41          44  2020     12   31    23              0.047619
42     42          45  2020     12   31    23              0.730769
43     43          46  2020     12   31    23              0.370370
44     44          47  2020     12   31    23              0.404255
45     45          48  2020     12   31    23              0.238095
46     46          49  2020     12   31    23              0.523810
47     47          50  2020     12   31    23              0.937500
48     48          51  2020     12   31    23              0.368421
49     49          53  2020     12   31    23              0.750000

In [22]:
print('nombre estacions: ', len(np.unique(output_data['station_id'])))

nombre estacions:  509

In [24]:
output_data[output_data['station_id']==4].head(13)

      index  station_id  year  month  day  hour  percentage_available
3         3           4  2020     12   31    23              0.714286
508     508           4  2020     12   31    23              0.714286
1013   1013           4  2020     12   31    23              0.714286
1518   1518           4  2020     12   31    23              0.714286
2023   2023           4  2020     12   31    23              0.714286
2528   2528           4  2020     12   31    23              0.714286
3033   3033           4  2020     12   31    23              0.714286
3538   3538           4  2020     12   31    23              0.714286
4043   4043           4  2020     12   31    23              0.714286
4548   4548           4  2020     12   31    23              0.714286
5053   5053           4  2020     12   31    23              0.714286
5558   5558           4  2020     12   31    23              0.619048
6063   6063           4  2021      1    1     0              0.619048

In [25]:
grouped = output_data.groupby(['station_id', 'year', 'month', 'day'])

output_data['ctx-1h'] = grouped['percentage_available'].shift(-12)
output_data['ctx-2h'] = grouped['percentage_available'].shift(-24)
output_data['ctx-3h'] = grouped['percentage_available'].shift(-36)
output_data['ctx-4h'] = grouped['percentage_available'].shift(-48)

In [29]:
output_data.head(5000)

,index,station_id,year,month,day,hour,percentage_available,ctx-1h,ctx-2h,ctx-3h,ctx-4h
0,0,1,2020,12,31,23,0.934783,NaN,NaN,NaN,NaN
1,1,2,2020,12,31,23,0.629630,NaN,NaN,NaN,NaN
2,2,3,2020,12,31,23,0.120000,NaN,NaN,NaN,NaN
3,3,4,2020,12,31,23,0.714286,NaN,NaN,NaN,NaN
4,4,5,2020,12,31,23,0.205128,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,464,2020,12,31,23,0.478261,NaN,NaN,NaN,NaN
4996,4996,465,2020,12,31,23,0.333333,NaN,NaN,NaN,NaN
4997,4997,466,2020,12,31,23,0.103448,NaN,NaN,NaN,NaN
4998,4998,468,2020,12,31,23,0.222222,NaN,NaN,NaN,NaN
4999,4999,469,2020,12,31,23,0.277778,NaN,NaN,NaN,NaN

In [6]:
# Group the data by station_id, month, day, and hour
grouped = data.groupby(['station_id', 'month', 'day', 'hour'])

# Calculate the percentage of available bikes for each station at different time intervals
data['percentage_available'] = data['num_bikes_available'] / (data['num_bikes_available'] + data['num_docks_available'])

# Function to calculate the context for each hour
def calculate_context(group):
    context = {}
    for i in range(1, 5):
        shifted = group['percentage_available'].shift(i)
        context[f'ctx-{i}'] = shifted.fillna(method='bfill')
    return pd.Series(context)

# Apply the function to each group and concatenate the results
contexts = grouped.apply(calculate_context)

# Combine the original DataFrame with the calculated contexts
result = pd.concat([data[['station_id', 'month', 'day', 'hour']], contexts], axis=1)

# Reset index and write to CSV
result.reset_index(drop=True, inplace=True)
result.to_csv('output.csv', index_label='index')

/tmp/ipykernel_67752/3465403086.py:12: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  context[f'ctx-{i}'] = shifted.fillna(method='bfill')

KeyboardInterrupt:

: