# Doc para testear y mirar cómo son los datos inicialmente
Alejandro Jaramillo

19/04/2024

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
months = ['Gener', 'Febrer', 'Marc', 'Abril', 'Maig', 'Juny', 'Juliol', 'Agost', 'Setembre', 'Octubre', 'Novembre', 'Desembre']
indeces = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
years = ['2020', '2021', '2022', '2023']

In [23]:
## OJO ##
# EN 2021 Y 2022 EL DOCUMENTO SE LLAMA MARÇ EN VEZ DE MARC, HAY QUE CAMBIARLO A MARC PARA QUE FUNCIONE

data = pd.DataFrame()
for year in years:
    for index, month in zip(indeces, months):
        month_year = pd.read_csv('../raw_data/{}_{}_{}_BicingNou_ESTACIONS.csv'.format(year, index, month))
        data = pd.concat([data, month_year])

/var/folders/gt/v7xq73cx0nj74cmjgsw8ql_00000gn/T/ipykernel_59141/2764157505.py:8: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  month_year = pd.read_csv('../raw_data/{}_{}_{}_BicingNou_ESTACIONS.csv'.format(year, index, month))
/var/folders/gt/v7xq73cx0nj74cmjgsw8ql_00000gn/T/ipykernel_59141/2764157505.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  month_year = pd.read_csv('../raw_data/{}_{}_{}_BicingNou_ESTACIONS.csv'.format(year, index, month))

In [36]:
data.drop('V1', axis = 1)

,station_id,num_bikes_available,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,num_docks_available,is_installed,is_renting,is_returning,last_reported,is_charging_station,status,last_updated,ttl,traffic
0,1.0,21.0,21.0,0.0,23.0,1.0,1.0,1.0,1.577833e+09,True,IN_SERVICE,1.577833e+09,28.0,NaN
1,2.0,10.0,9.0,1.0,16.0,1.0,1.0,1.0,1.577833e+09,True,IN_SERVICE,1.577833e+09,28.0,NaN
2,3.0,15.0,15.0,0.0,9.0,1.0,1.0,1.0,1.577833e+09,True,IN_SERVICE,1.577833e+09,28.0,NaN
3,4.0,8.0,8.0,0.0,13.0,1.0,1.0,1.0,1.577833e+09,True,IN_SERVICE,1.577833e+09,28.0,NaN
4,5.0,14.0,11.0,3.0,24.0,1.0,1.0,1.0,1.577833e+09,True,IN_SERVICE,1.577833e+09,28.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4525541,515.0,5.0,5.0,0.0,19.0,1.0,1.0,1.0,1.704064e+09,True,IN_SERVICE,1.704065e+09,1.0,NaN
4525542,516.0,10.0,2.0,8.0,10.0,1.0,1.0,1.0,1.704064e+09,True,IN_SERVICE,1.704065e+09,1.0,NaN
4525543,517.0,8.0,1.0,7.0,11.0,1.0,1.0,1.0,1.704064e+09,True,IN_SERVICE,1.704065e+09,1.0,NaN
4525544,518.0,3.0,1.0,2.0,24.0,1.0,1.0,1.0,1.704064e+09,True,IN_SERVICE,1.704065e+09,1.0,NaN
4525545,519.0,6.0,0.0,6.0,17.0,1.0,1.0,1.0,1.704064e+09,True,IN_SERVICE,1.704065e+09,1.0,NaN

In [38]:
for feat in data.columns:
    print('{} has {} NaNs'.format(feat, data[feat].isna().sum()))

station_id has 3765 NaNs
num_bikes_available has 3765 NaNs
num_bikes_available_types.mechanical has 3765 NaNs
num_bikes_available_types.ebike has 3765 NaNs
num_docks_available has 3765 NaNs
is_installed has 3765 NaNs
is_renting has 3765 NaNs
is_returning has 3765 NaNs
last_reported has 3765 NaNs
is_charging_station has 3765 NaNs
status has 3765 NaNs
last_updated has 3765 NaNs
ttl has 3765 NaNs
traffic has 200138821 NaNs
V1 has 200973778 NaNs

In [34]:
test_2020_gen = pd.read_csv('../raw_data/2023_02_Febrer_BicingNou_ESTACIONS.csv')
test_2020_gen.columns

Index(['station_id', 'num_bikes_available',
       'num_bikes_available_types.mechanical',
       'num_bikes_available_types.ebike', 'num_docks_available',
       'last_reported', 'is_charging_station', 'status', 'is_installed',
       'is_renting', 'is_returning', 'traffic', 'last_updated', 'ttl'],
      dtype='object')