In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd

In [2]:
years = [2020, 2021, 2022, 2023]
data = pd.read_csv('data/formated data/data_{}.csv'.format(years[0]))
data = data[data['year'] == years[0]]
weather_data = pd.read_csv('data/weather_data/weather_data_{}.csv'.format(years[0]))
for year in years[1:]:
    curr_data = pd.read_csv('data/formated data/data_{}.csv'.format(year))
    curr_data = curr_data[curr_data['year'] == year]
    data = pd.concat([data,curr_data])
    weather_data = pd.concat([weather_data,pd.read_csv('data/weather_data/weather_data_{}.csv'.format(year))])
data = data[['station_id', 'year', 'month', 'day', 'hour', 'ctx-4', 'ctx-3', 'ctx-2', 'ctx-1', 'percentage_docks_available']]
data['date'] = data['year'].astype(int).astype(str)+'/'+data['month'].astype(int).astype(str)+'/' + data['day'].astype(int).astype(str)+'/'+data['hour'].astype(int).astype(str)
data.sort_values(['year', 'month','day','hour'], ascending = True)

weather_data = weather_data[['year','month','day','hour','mm_precip','temperature']]
weather_data['date'] = weather_data['year'].astype(int).astype(str)+'/'+weather_data['month'].astype(int).astype(str)+'/' + weather_data['day'].astype(int).astype(str)+'/'+weather_data['hour'].astype(int).astype(str)
weather_data = weather_data[['mm_precip', 'temperature', 'date']]

In [3]:
stations_info = pd.read_csv('data/info bicing/Informacio_Estacions_Bicing.csv')
stations_info = stations_info[['station_id', 'lat','lon', 'altitude', 'post_code', 'capacity']]
stations_info['post_code'] = '0' + stations_info['post_code'].astype(str)
stations_info

     station_id        lat       lon  altitude post_code  capacity
0             1  41.397978  2.180107      16.0     08013        45
1             2  41.395488  2.177198      17.0     08013        29
2             3  41.394156  2.181331      11.0     08013        27
3             4  41.393317  2.181248       8.0     08013        21
4             5  41.391103  2.180176       7.0     08018        39
..          ...        ...       ...       ...       ...       ...
501         515  41.435207  2.194800      19.0     08030        24
502         516  41.435460  2.200157      15.0     08030        21
503         517  41.462095  2.178959      44.0     08033        20
504         518  41.424689  2.157049     112.0     08032        27
505         519  41.424655  2.166289     110.0     08032        24

[506 rows x 6 columns]

In [4]:
full_data = data.copy()

In [5]:
full_data = pd.merge(full_data, stations_info, left_on = 'station_id', right_on = 'station_id')
full_data

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity
0,1.0,2020.0,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45
1,1.0,2020.0,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45
2,1.0,2020.0,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45
3,1.0,2020.0,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45
4,1.0,2020.0,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274429,519.0,2023.0,12.0,31.0,1.0,0.913043,0.847826,0.713768,0.731884,0.659420,2023/12/31/1,41.424655,2.166289,110.0,08032,24
3274430,519.0,2023.0,12.0,31.0,6.0,0.648551,0.619565,0.608696,0.608696,0.735507,2023/12/31/6,41.424655,2.166289,110.0,08032,24
3274431,519.0,2023.0,12.0,31.0,11.0,0.826087,0.836957,0.898551,0.939799,1.000000,2023/12/31/11,41.424655,2.166289,110.0,08032,24
3274432,519.0,2023.0,12.0,31.0,16.0,1.000000,1.000000,0.931159,0.923913,0.869565,2023/12/31/16,41.424655,2.166289,110.0,08032,24
3274433,519.0,2023.0,12.0,31.0,21.0,0.887681,0.905797,0.800725,0.746377,0.713768,2023/12/31/21,41.424655,2.166289,110.0,08032,24

In [6]:
full_data.sort_values(['station_id','year','month','day','hour'])

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity
0,1.0,2020.0,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45
1,1.0,2020.0,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45
2,1.0,2020.0,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45
3,1.0,2020.0,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45
4,1.0,2020.0,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3274429,519.0,2023.0,12.0,31.0,1.0,0.913043,0.847826,0.713768,0.731884,0.659420,2023/12/31/1,41.424655,2.166289,110.0,08032,24
3274430,519.0,2023.0,12.0,31.0,6.0,0.648551,0.619565,0.608696,0.608696,0.735507,2023/12/31/6,41.424655,2.166289,110.0,08032,24
3274431,519.0,2023.0,12.0,31.0,11.0,0.826087,0.836957,0.898551,0.939799,1.000000,2023/12/31/11,41.424655,2.166289,110.0,08032,24
3274432,519.0,2023.0,12.0,31.0,16.0,1.000000,1.000000,0.931159,0.923913,0.869565,2023/12/31/16,41.424655,2.166289,110.0,08032,24
3274433,519.0,2023.0,12.0,31.0,21.0,0.887681,0.905797,0.800725,0.746377,0.713768,2023/12/31/21,41.424655,2.166289,110.0,08032,24

In [7]:
weather_data[weather_data['date'] == '2020/1/1/2']

   mm_precip  temperature        date
2        0.0         5.75  2020/1/1/2

In [8]:
full_data = pd.merge(full_data, weather_data, left_on = 'date', right_on = 'date')

In [9]:
full_data

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity,mm_precip,temperature
0,1.0,2020.0,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45,0.0,5.75
1,1.0,2020.0,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45,0.0,4.25
2,1.0,2020.0,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45,0.0,12.45
3,1.0,2020.0,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45,0.0,9.35
4,1.0,2020.0,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45,0.0,6.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3269312,519.0,2023.0,12.0,31.0,1.0,0.913043,0.847826,0.713768,0.731884,0.659420,2023/12/31/1,41.424655,2.166289,110.0,08032,24,0.0,11.10
3269313,519.0,2023.0,12.0,31.0,6.0,0.648551,0.619565,0.608696,0.608696,0.735507,2023/12/31/6,41.424655,2.166289,110.0,08032,24,0.0,8.95
3269314,519.0,2023.0,12.0,31.0,11.0,0.826087,0.836957,0.898551,0.939799,1.000000,2023/12/31/11,41.424655,2.166289,110.0,08032,24,0.0,17.35
3269315,519.0,2023.0,12.0,31.0,16.0,1.000000,1.000000,0.931159,0.923913,0.869565,2023/12/31/16,41.424655,2.166289,110.0,08032,24,0.0,13.85
3269316,519.0,2023.0,12.0,31.0,21.0,0.887681,0.905797,0.800725,0.746377,0.713768,2023/12/31/21,41.424655,2.166289,110.0,08032,24,0.0,9.80

In [10]:
import geopandas as gpd

# Cargar el shapefile en un GeoDataFrame
gdf = gpd.read_file('data/locations_data/geo_data/codigos_postales.shp')

codigos_postales_bcn = np.unique(full_data['post_code'])
# Graficar los polígonos

locations = pd.read_csv('data/locations_data/barna_pics.csv', encoding = 'utf-16').groupby('addresses_zip_code').size().reset_index()
locations.columns = ['addresses_zip_code', 'rating']
locations['addresses_zip_code'] = '0'+locations['addresses_zip_code'].astype(int).astype(str)
poligs_bcn = gdf[gdf['COD_POSTAL'].isin(codigos_postales_bcn)]
poligs_bcn_locs = pd.merge(poligs_bcn, locations, left_on = 'COD_POSTAL', right_on = 'addresses_zip_code')

poligs_bcn_locs = poligs_bcn_locs[['COD_POSTAL', 'geometry', 'rating']]
#poligs_bcn_locs.head()
locations.head()

  addresses_zip_code  rating
0              08001      30
1              08002      40
2              08003      42
3              08004      24
4              08005      21

In [11]:
full_data = pd.merge(full_data, poligs_bcn_locs, left_on = 'post_code', right_on = 'COD_POSTAL')
#full_data = pd.merge(full_data, locations, left_on = 'post_code', right_on = 'addresses_zip_code')
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,...,lat,lon,altitude,post_code,capacity,mm_precip,temperature,COD_POSTAL,geometry,rating
0,1.0,2020.0,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,...,41.397978,2.180107,16.0,08013,45,0.0,5.75,08013,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6
1,1.0,2020.0,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,...,41.397978,2.180107,16.0,08013,45,0.0,4.25,08013,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6
2,1.0,2020.0,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,...,41.397978,2.180107,16.0,08013,45,0.0,12.45,08013,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6
3,1.0,2020.0,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,...,41.397978,2.180107,16.0,08013,45,0.0,9.35,08013,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6
4,1.0,2020.0,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,...,41.397978,2.180107,16.0,08013,45,0.0,6.80,08013,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6

In [12]:
data_ocio = pd.read_csv('data/locations_data/bcn_ocio.csv', encoding = 'utf-16').groupby('addresses_zip_code').size().reset_index()
data_ocio.columns = ['addresses_zip_code', 'ocio']
data_ocio['addresses_zip_code'] = '0'+data_ocio['addresses_zip_code'].astype(int).astype(str)
data_ocio.head()

  addresses_zip_code  ocio
0                080     4
1              08000     6
2              08001   151
3              08002   119
4              08003   173

In [13]:
full_data = pd.merge(full_data, data_ocio, left_on = 'post_code', right_on = 'addresses_zip_code')

In [14]:
full_data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,...,altitude,post_code,capacity,mm_precip,temperature,COD_POSTAL,geometry,rating,addresses_zip_code,ocio
0,1.0,2020.0,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,...,16.0,08013,45,0.0,5.75,08013,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,08013,88
1,1.0,2020.0,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,...,16.0,08013,45,0.0,4.25,08013,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,08013,88
2,1.0,2020.0,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,...,16.0,08013,45,0.0,12.45,08013,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,08013,88
3,1.0,2020.0,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,...,16.0,08013,45,0.0,9.35,08013,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,08013,88
4,1.0,2020.0,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,...,16.0,08013,45,0.0,6.80,08013,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,08013,88

In [15]:
full_data.columns

Index(['station_id', 'year', 'month', 'day', 'hour', 'ctx-4', 'ctx-3', 'ctx-2',
       'ctx-1', 'percentage_docks_available', 'date', 'lat', 'lon', 'altitude',
       'post_code', 'capacity', 'mm_precip', 'temperature', 'COD_POSTAL',
       'geometry', 'rating', 'addresses_zip_code', 'ocio'],
      dtype='object')

In [16]:
full_data = full_data.drop('COD_POSTAL', axis = 1)
full_data

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,...,lon,altitude,post_code,capacity,mm_precip,temperature,geometry,rating,addresses_zip_code,ocio
0,1.0,2020.0,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,...,2.180107,16.0,08013,45,0.0,5.75,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,08013,88
1,1.0,2020.0,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,...,2.180107,16.0,08013,45,0.0,4.25,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,08013,88
2,1.0,2020.0,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,...,2.180107,16.0,08013,45,0.0,12.45,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,08013,88
3,1.0,2020.0,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,...,2.180107,16.0,08013,45,0.0,9.35,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,08013,88
4,1.0,2020.0,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,...,2.180107,16.0,08013,45,0.0,6.80,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,08013,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3347297,519.0,2023.0,12.0,31.0,1.0,0.913043,0.847826,0.713768,0.731884,0.659420,...,2.166289,110.0,08032,24,0.0,11.10,"POLYGON ((2.17589 41.42554, 2.17620 41.42557, ...",10,08032,52
3347298,519.0,2023.0,12.0,31.0,6.0,0.648551,0.619565,0.608696,0.608696,0.735507,...,2.166289,110.0,08032,24,0.0,8.95,"POLYGON ((2.17589 41.42554, 2.17620 41.42557, ...",10,08032,52
3347299,519.0,2023.0,12.0,31.0,11.0,0.826087,0.836957,0.898551,0.939799,1.000000,...,2.166289,110.0,08032,24,0.0,17.35,"POLYGON ((2.17589 41.42554, 2.17620 41.42557, ...",10,08032,52
3347300,519.0,2023.0,12.0,31.0,16.0,1.000000,1.000000,0.931159,0.923913,0.869565,...,2.166289,110.0,08032,24,0.0,13.85,"POLYGON ((2.17589 41.42554, 2.17620 41.42557, ...",10,08032,52
3347301,519.0,2023.0,12.0,31.0,21.0,0.887681,0.905797,0.800725,0.746377,0.713768,...,2.166289,110.0,08032,24,0.0,9.80,"POLYGON ((2.17589 41.42554, 2.17620 41.42557, ...",10,08032,52

In [20]:
full_data = full_data.drop('addresses_zip_code', axis = 1)
full_data

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,...,lat,lon,altitude,post_code,capacity,mm_precip,temperature,geometry,rating,ocio
0,1.0,2020.0,1.0,1.0,2.0,0.522727,0.503788,0.469697,0.403409,0.354167,...,41.397978,2.180107,16.0,08013,45,0.0,5.75,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,88
1,1.0,2020.0,1.0,1.0,7.0,0.289773,0.373106,0.304924,0.238636,0.240530,...,41.397978,2.180107,16.0,08013,45,0.0,4.25,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,88
2,1.0,2020.0,1.0,1.0,12.0,0.253788,0.268939,0.350379,0.344697,0.393939,...,41.397978,2.180107,16.0,08013,45,0.0,12.45,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,88
3,1.0,2020.0,1.0,1.0,17.0,0.390152,0.346591,0.255814,0.220930,0.186047,...,41.397978,2.180107,16.0,08013,45,0.0,9.35,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,88
4,1.0,2020.0,1.0,1.0,22.0,0.083333,0.218992,0.437984,0.515504,0.470930,...,41.397978,2.180107,16.0,08013,45,0.0,6.80,"POLYGON ((2.18162 41.40774, 2.18273 41.40699, ...",6,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3347297,519.0,2023.0,12.0,31.0,1.0,0.913043,0.847826,0.713768,0.731884,0.659420,...,41.424655,2.166289,110.0,08032,24,0.0,11.10,"POLYGON ((2.17589 41.42554, 2.17620 41.42557, ...",10,52
3347298,519.0,2023.0,12.0,31.0,6.0,0.648551,0.619565,0.608696,0.608696,0.735507,...,41.424655,2.166289,110.0,08032,24,0.0,8.95,"POLYGON ((2.17589 41.42554, 2.17620 41.42557, ...",10,52
3347299,519.0,2023.0,12.0,31.0,11.0,0.826087,0.836957,0.898551,0.939799,1.000000,...,41.424655,2.166289,110.0,08032,24,0.0,17.35,"POLYGON ((2.17589 41.42554, 2.17620 41.42557, ...",10,52
3347300,519.0,2023.0,12.0,31.0,16.0,1.000000,1.000000,0.931159,0.923913,0.869565,...,41.424655,2.166289,110.0,08032,24,0.0,13.85,"POLYGON ((2.17589 41.42554, 2.17620 41.42557, ...",10,52
3347301,519.0,2023.0,12.0,31.0,21.0,0.887681,0.905797,0.800725,0.746377,0.713768,...,41.424655,2.166289,110.0,08032,24,0.0,9.80,"POLYGON ((2.17589 41.42554, 2.17620 41.42557, ...",10,52

In [17]:
#data.to_csv('../full_dataframe.csv')

In [18]:
test = pd.read_csv('data/agenda_data/bcn_agenda.csv', encoding = 'utf-16')
test#[test['name'].str.contains('world')]

,register_id,name,institution_id,institution_name,created,modified,addresses_roadtype_id,addresses_roadtype_name,addresses_road_id,addresses_road_name,...,secondary_filters_fullpath,secondary_filters_tree,secondary_filters_asia_id,geo_epgs_25831_x,geo_epgs_25831_y,geo_epgs_4326_lat,geo_epgs_4326_lon,estimated_dates,start_date,end_date
0,﻿301140642,Horari d'il·luminacions dels Focus del Palau N...,NaN,NaN,2000-10-27T00:00:00+02:00,2024-02-02T13:08:02.694099+01:00,NaN,NaN,700068.0,Mirador Palau Nacional,...,NaN,NaN,NaN,429196.185608,4.580054e+06,41.368885,2.153381,NaN,NaN,NaN
1,﻿99400715397,"Concert ""Jordi Rossy Quartet Featuring Ethan ...",NaN,NaN,2023-06-19T13:20:52.703292+02:00,2024-04-30T07:22:01.687627+02:00,NaN,NaN,276001.0,Plaça Reial,...,NaN,NaN,NaN,431029.326000,4.581247e+06,41.379791,2.175163,NaN,2024-06-18T03:00:00+02:00,2024-06-19T03:00:00+02:00
2,﻿99400708637,CASAL D'ESTIU LA TORTUGA CEIT - ESPLAI LA TORT...,NaN,NaN,2023-03-23T13:48:32.460838+01:00,2024-03-22T09:31:37.821087+01:00,NaN,NaN,365600.0,C Mare de Déu de Lorda,...,NaN,NaN,NaN,432504.919598,4.589170e+06,41.451279,2.191924,NaN,2024-06-25T03:00:00+02:00,2024-07-26T03:00:00+02:00
3,﻿99400708648,'Festival de Fi de Curs del Casal de Gent Gran...,NaN,NaN,2023-03-23T14:31:24.771389+01:00,2024-04-23T08:36:50.660575+02:00,NaN,NaN,40504.0,C Bermejo,...,NaN,NaN,NaN,434606.440034,4.584950e+06,41.413444,2.217538,NaN,2024-06-14T03:00:00+02:00,2024-06-14T03:00:00+02:00
4,﻿99400180501,CASAL D'ESTIU AMB CURSET DE NATACIÓ - ESCOLA C...,NaN,NaN,2007-04-11T09:36:36+02:00,2024-03-22T09:32:49.803033+01:00,NaN,NaN,305507.0,C Sant Joan de Malta,...,NaN,NaN,NaN,432533.843270,4.584418e+06,41.408477,2.192800,NaN,2024-06-25T03:00:00+02:00,2024-09-06T03:00:00+02:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4067,﻿99400737286,Tertúlia 'Els zoològics humans',NaN,NaN,2024-06-04T09:44:48.167147+02:00,2024-06-04T09:48:28.960928+02:00,NaN,NaN,201400.0,Pg Picasso,...,NaN,NaN,NaN,431795.012923,4.582067e+06,41.387241,2.184226,NaN,2024-06-20T03:00:00+02:00,2024-06-20T03:00:00+02:00
4068,﻿99400737298,Exposició 'La medicina en l'exèrcit romà',NaN,NaN,2024-06-04T10:42:04.184628+02:00,2024-06-04T10:44:28.112604+02:00,NaN,NaN,70607.0,C Casanova,...,NaN,NaN,NaN,429119.381872,4.582350e+06,41.389555,2.152194,NaN,2024-04-30T03:00:00+02:00,2024-06-06T03:00:00+02:00
4069,﻿99400737292,Conferència 'Bateries basades en elements abun...,NaN,NaN,2024-06-04T10:05:59.874707+02:00,2024-06-04T10:10:47.468770+02:00,NaN,NaN,157909.0,C Hospital,...,NaN,NaN,NaN,430553.318151,4.581302e+06,41.380243,2.169464,NaN,2024-06-17T03:00:00+02:00,2024-06-17T03:00:00+02:00
4070,﻿99400737287,"Cinema a la fresca ""The Gardener""",NaN,NaN,2024-06-04T09:50:13.613031+02:00,2024-06-04T09:59:12.175849+02:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-06-30T03:00:00+02:00,2024-06-30T03:00:00+02:00
4071,﻿99400737273,"Trobada ""Internet de les coses amb xarxa obert...",NaN,NaN,2024-06-04T08:53:47.063606+02:00,2024-06-04T08:56:50.508195+02:00,NaN,NaN,86108.0,C Concepción Arenal,...,NaN,NaN,NaN,431827.976702,4.586513e+06,41.427287,2.184120,NaN,2024-06-12T03:00:00+02:00,2024-06-12T03:00:00+02:00