In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd

In [10]:
years = [2020]
data = pd.read_csv('data/formated data/data_{}.csv'.format(years[0]))
data = data[data['year'] == years[0]]
weather_data = pd.read_csv('data/weather_data/weather_data_{}.csv'.format(years[0]))
for year in years[1:]:
    curr_data = pd.read_csv('data/formated data/data_{}.csv'.format(year))
    curr_data = curr_data[curr_data['year'] == year]
    data = pd.concat([data,curr_data])
    data = data[data['year'] == year]
    weather_data = pd.concat([weather_data,pd.read_csv('data/weather_data/weather_data_{}.csv'.format(year))])
data = data[['station_id', 'year', 'month', 'day', 'hour', 'ctx-4', 'ctx-3', 'ctx-2', 'ctx-1', 'percentage_docks_available']]
data['date'] = data['year'].astype(str)+'/'+data['month'].astype(str)+'/' + data['day'].astype(str)+'/'+data['hour'].astype(str)
data.sort_values(['year', 'month','day','hour'], ascending = True)

weather_data = weather_data[['year','month','day','hour','mm_precip','temperature']]
weather_data['date'] = weather_data['year'].astype(str)+'/'+weather_data['month'].astype(str)+'/' + weather_data['day'].astype(str)+'/'+weather_data['hour'].astype(str)
weather_data = weather_data[['mm_precip', 'temperature', 'date']]

In [11]:
stations_info = pd.read_csv('data/info bicing/Informacio_Estacions_Bicing.csv')
stations_info = stations_info[['station_id', 'lat','lon', 'altitude', 'post_code', 'capacity']]
stations_info['post_code'] = '0' + stations_info['post_code'].astype(str)
stations_info

     station_id        lat       lon  altitude post_code  capacity
0             1  41.397978  2.180107      16.0     08013        45
1             2  41.395488  2.177198      17.0     08013        29
2             3  41.394156  2.181331      11.0     08013        27
3             4  41.393317  2.181248       8.0     08013        21
4             5  41.391103  2.180176       7.0     08018        39
..          ...        ...       ...       ...       ...       ...
501         515  41.435207  2.194800      19.0     08030        24
502         516  41.435460  2.200157      15.0     08030        21
503         517  41.462095  2.178959      44.0     08033        20
504         518  41.424689  2.157049     112.0     08032        27
505         519  41.424655  2.166289     110.0     08032        24

[506 rows x 6 columns]

In [12]:
data = pd.merge(data, stations_info, left_on = 'station_id', right_on = 'station_id')
data

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity
0,1,2020,1,1,2,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45
1,1,2020,1,1,7,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45
2,1,2020,1,1,12,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45
3,1,2020,1,1,17,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45
4,1,2020,1,1,22,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707814,519,2020,12,31,0,0.805556,0.647727,0.625000,0.625000,0.625000,2020/12/31/0,41.424655,2.166289,110.0,08032,24
707815,519,2020,12,31,5,0.625000,0.625000,0.625000,0.625000,0.625000,2020/12/31/5,41.424655,2.166289,110.0,08032,24
707816,519,2020,12,31,10,0.645833,0.670455,0.708333,0.770833,0.833333,2020/12/31/10,41.424655,2.166289,110.0,08032,24
707817,519,2020,12,31,15,0.833333,0.854167,0.868056,0.888889,0.934028,2020/12/31/15,41.424655,2.166289,110.0,08032,24
707818,519,2020,12,31,20,0.954861,0.899306,0.875000,0.916667,0.916667,2020/12/31/20,41.424655,2.166289,110.0,08032,24

In [13]:
data = pd.merge(data, weather_data, left_on = 'date', right_on = 'date')

In [15]:
import geopandas as gpd
import matplotlib.pyplot as plt


# Cargar el shapefile en un GeoDataFrame
#gdf = gpd.read_file('data/locations_data/geo_data/codigos_postales.shp')

codigos_postales_bcn = np.unique(data['post_code'])
# Graficar los polígonos

locations = pd.read_csv('data/locations_data/barna_pics.csv', encoding = 'utf-16').groupby('addresses_zip_code').size().reset_index()
locations.columns = ['addresses_zip_code', 'rating']
locations['addresses_zip_code'] = '0'+locations['addresses_zip_code'].astype(str)
#poligs_bcn = gdf[gdf['COD_POSTAL'].isin(codigos_postales_bcn)]
#poligs_bcn_locs = pd.merge(poligs_bcn, locations, left_on = 'COD_POSTAL', right_on = 'addresses_zip_code')

#poligs_bcn_locs = poligs_bcn_locs[['COD_POSTAL', 'geometry', 'rating']]
#poligs_bcn_locs.head()

In [16]:
#data = pd.merge(data, poligs_bcn_locs, left_on = 'post_code', right_on = 'COD_POSTAL')
data = pd.merge(data, locations, left_on = 'post_code', right_on = 'addresses_zip_code')
data.head()

,station_id,year,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,percentage_docks_available,date,lat,lon,altitude,post_code,capacity,mm_precip,temperature,addresses_zip_code,rating
0,1,2020,1,1,2,0.522727,0.503788,0.469697,0.403409,0.354167,2020/1/1/2,41.397978,2.180107,16.0,08013,45,0.0,5.75,08013,6
1,1,2020,1,1,7,0.289773,0.373106,0.304924,0.238636,0.240530,2020/1/1/7,41.397978,2.180107,16.0,08013,45,0.0,4.25,08013,6
2,1,2020,1,1,12,0.253788,0.268939,0.350379,0.344697,0.393939,2020/1/1/12,41.397978,2.180107,16.0,08013,45,0.0,12.45,08013,6
3,1,2020,1,1,17,0.390152,0.346591,0.255814,0.220930,0.186047,2020/1/1/17,41.397978,2.180107,16.0,08013,45,0.0,9.35,08013,6
4,1,2020,1,1,22,0.083333,0.218992,0.437984,0.515504,0.470930,2020/1/1/22,41.397978,2.180107,16.0,08013,45,0.0,6.80,08013,6

In [17]:
data = data.drop('addresses_zip_code', axis = 1)

In [18]:
#data.to_csv('data/full_dataframe.csv')